<mat-toolbar color="primary">
  <button mat-button class="app-menu-button" (click)="sidenav.toggle()">
    <i class="material-icons">menu</i>
  </button>
  <span class="title">Care Logs Wizard</span>
  <span class="example-fill-remaining-space"></span>
  <!-- <button *ngIf="ctx.isSignedIn" mat-button class="app-menu-button" (click)="createSlides()">
    <mat-icon class="material-icon">slideshow</mat-icon>
  </button> -->
  <button *ngIf="!ctx.isSignedIn" mat-button class="app-menu-button" (click)="signIn()">
    <mat-icon class="material-icon">account_circle</mat-icon>
  </button>
  <button *ngIf="ctx.isSignedIn" mat-button class="app-menu-button" (click)="signOut()">
    <mat-icon class="material-icon">verified_user</mat-icon>
  </button>
</mat-toolbar>
<mat-sidenav-container class="top-container" [class.m2app-dark]="isDarkTheme">
  <mat-sidenav #sidenav mode="side" [(opened)]="opened">
    <mat-toolbar>
      <mat-toolbar-row>
        <a [routerLink]="['/home']">Home</a>
      </mat-toolbar-row>
      <mat-toolbar-row>
        <a [routerLink]="['/read']">Reading Room</a>
        </mat-toolbar-row>
      <!-- <mat-toolbar-row>
        <button mat-button (click)="isDarkTheme = !isDarkTheme" class="app-sidebar-button">TOGGLE THEME</button>
      </mat-toolbar-row> -->
    </mat-toolbar>
  </mat-sidenav>

  <router-outlet></router-outlet>
</mat-sidenav-container>
